{% extends "nothanks/base.html" %}

{% load static %}

{% block content %}
<div class="container mt-auto" align='center'>
    <!-- Static Picture of the Game -->
    <img src="{% static 'nothanks/title.png' %}" class="rounded img-fluid my-4" alt="Responsive image">
    <!-- Game Description -->
    <div class="card text-start py-3 px-2">
        <p><b>No Thanks!</b> is a card game designed to be as simple as it is engaging.</p>

        <p>The rules are simple. Each turn, players have two options:
            <ul>
                <li>play one of their chips to avoid picking up the current face-up card</li>
                <li>pick up the face-up card (along with any chips that have already been played on that card) and turn over the next card</li>
            </ul>
        </p>
        <p>
            However, the choices aren't so easy as players compete to have the lowest score at the end of the game. The deck of cards is numbered from 3 to 35, with each card counting for a number of points equal to its face value. Runs of two or more cards only count as the lowest value in the run - but nine cards are removed from the deck before starting, so be careful looking for connectors. Each chip is worth -1 point, but they can be even more valuable by allowing you to avoid drawing that unwanted card.
        </p>
        <p><a class="link-primary" href="https://boardgamegeek.com/boardgame/12942/no-thanks" target="view_window">BGG</a></p>
    </div>
    <!-- New Game or Join Game -->
    
    <div class="my-4 row justify-content-center">
        <div class="col text-end">
            <form method="POST" action = "{% url 'nothanks-home' %}">
                {% csrf_token %}
                <button class="btn btn-outline-primary" type="submit" name="game" value="create">Start Game</button>
            </form>
        </div>
        <div class="col text-start">
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Join Game
            </button>
            <form method="POST" action = "{% url 'nothanks-home' %}">
                {% csrf_token %}
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Input Room ID</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group">
                                    <input class="form-control" type="text" name="room_uid" value="" maxlength="4" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="submit" name="game" value="join">Join Game</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <!-- Change display name -->
    <form method="POST" action = "{% url 'nothanks-home' %}">
        {% csrf_token %}
        <div class="input-group short-div">
            <span class="input-group-text">Name</span>
            {{ player_form }}
            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit" name="update" value="username">Update</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
